@font-face {
  font-family: ‘Noto Serif Japanese’;
  font-style: normal;
  font-weight: 100;
  src: url(NotoSerifCJKjp-ExtraLight.otf) format(‘opentype’);
}
@font-face {
  font-family: ‘Noto Serif Japanese’;
  font-style: normal;
  font-weight: 200;
  src: url(NotoSerifCJKjp-Light.otf) format(‘opentype’);
}
@font-face {
  font-family: ‘Noto Serif Japanese’;
  font-style: normal;
  font-weight: 400;
  src: url(NotoSerifCJKjp-Regular.otf) format(‘opentype’);
}
@font-face {
  font-family: ‘Noto Serif Japanese’;
  font-style: normal;
  font-weight: 500;
  src: url(NotoSerifCJKjp-Medium.otf) format(‘opentype’);
}
@font-face {
  font-family: ‘Noto Serif Japanese’;
  font-style: normal;
  font-weight: 600;
  src: url(NotoSerifCJKjp-SemiBold.otf) format(‘opentype’);
}
@font-face {
  font-family: ‘Noto Serif Japanese’;
  font-style: normal;
  font-weight: 700;
  src: url(NotoSerifCJKjp-Bold.otf) format(‘opentype’);
}
@font-face {
  font-family: ‘Noto Serif Japanese’;
  font-style: normal;
  font-weight: 900;
  src: url(NotoSerifCJKjp-Black.otf) format(‘opentype’);
}
